body {
  font-family: arial, sans-serif;
  font-size: 16px;
}

.wrapper {
	width: 600px;
	height: 360px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
  left: 20px;
  display: block;
  text-align: center; 
	margin-left: auto;
	margin-right: auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 50%;
  border: 1px solid black;
  z-index: 1;
  width: 600px;
  height: 360px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#game-over {
  display: none;
  text-align: center;
  padding-top: 1%;
  z-index: 7;
  left: 50%;
  width: 600px;
  height: 360px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  margin: auto;
  position: absolute;
}